@{

    ViewBag.Title = "Đổi mật khẩu";

}

<div class="box box-primary">




    <div class="box-body">
        <form action="~/Account/ChangePassword" method="post">
            @Html.AntiForgeryToken()
            @{
                var user = User.GetUserData();
                if (user != null)
                {
                    
                    <input type="hidden" name="userName" value="@user.UserName" />
                }

            }
            <div class="form-group">
                <label>Mật khẩu hiện tại:</label>
                <input type="password" class="form-control" name="oldPassword" value="@ViewBag.oldPassword">
            </div>
            @Html.ValidationMessage("oldPassword", new { @style = "color:#f00;display:block;margin-bottom:10px" })

            <div class="form-group">
                <label>Mật khẩu mới:</label>
                <input type="password" class="form-control" name="newPassword">
            </div>
            @Html.ValidationMessage("newPassword", new { @style = "color:#f00;display:block;margin-bottom:10px" })

            <div class="form-group">
                <label>Xác nhận mật khẩu:</label>
                <input type="password" class="form-control" name="repeatPassword">
            </div>
            @Html.ValidationMessage("repeatPassword", new { @style = "color:#f00;display:block;margin-bottom:10px" })

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Đổi mật khẩu
                </button>

                <a href="~/" class="btn btn-default">Quay lại</a>
            </div>
        </form>
        @if (TempData["ErrorMessage"] != null)
        {
            <div id="errorMessage" class="alert alert-danger" style="width:50%">
                @TempData["ErrorMessage"]
            </div>
        }

        @if (TempData["SuccessMessage"] != null)
        {
            <div id="successMessage" class="alert alert-success" style="width:50%">
                @TempData["SuccessMessage"]
            </div>
        }
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            // Thiết lập thời gian tự động ẩn cho tin nhắn lỗi
            if ($("#errorMessage").length > 0) {
                setTimeout(function () {
                    $("#errorMessage").fadeOut();
                }, 5000); // 5000 milliseconds = 5 giây
            }

        });

        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage !== '') {
            setTimeout(function () {
                window.location.href = '@Url.Action("Logout")';
            }, 2000); // 4 giây
        }
    </script>

}
